<html lang="en">
  <head>
    <link
      href="https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap"
      rel="stylesheet"
    />
    <title>{{gameName}}</title>
    <link rel="icon" href="/img/favicon.png" />
    <link rel="Stylesheet" href="css/cadastroPage.css" />
  </head>
  <body>
    <img src="/img/{{gameImg}}.png" />
    <p>{{gameName}}</p>
    <p>{{gamePrice}}</p>
    <form action="/game/comprar" method="POST">
        <input type="hidden" name="idgames" value="{{idgames}}">
        <input type="hidden" name="id" value="{{id}}">
    <button type="submit">Comprar Jogo</button>
    </form>
  </body>
</html>
