<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap" rel="stylesheet">
    <link rel="icon" href="/img/favicon.png">
    <link rel="Stylesheet" href="css/homePage.css">
    <title>Home</title>
</head>
<body>
    <header>
        <div id="imagensTopoSite">
            <img src="/img/favicon.png">
        </div>
        <h1>PunkWinds</h1>
            <div id="TopoSiteDir">
                <img src="/img/thealwaysreliablePLACEHOLDER.jpeg">
                <img src="/img/thealwaysreliablePLACEHOLDER.jpeg">
                {{#if nome}}
                <div id="Usuario" onclick="window.open('/user?id={{id}}', '_self')" style="border: 2px solid green; padding-left: 2px;">
                    <p>{{nome}}</p>
                    <img src="/img/{{pfp}}.png">
                </div>
                {{else}}
                <div id="Usuario" onclick="window.open('/login', '_self')" style="border: 2px solid red; padding-left: 2px;">
                    <p>Logar</p>
                    <img src="/img/pfp0.png">
                </div>
                {{/if}}
                
            </div>
    </header>

<main id="Content">
    <div id="FirstImgSet">
        {{#unless nome}}
        <div class="imgPrice" onclick="window.open('/login', '_self')">
        {{else}}
        <div class="imgPrice" onclick="window.open('/game?idgames=1&id={{id}}', '_self')">
        {{/unless}}
            <img src="/img/JojoLandsAllStarBattle.png">
            <div class="PriceName">
                <p>Jojolands: All-Star battle</p>
                <p>R$ 44,99</p>
            </div>
        </div>

        {{#unless nome}}
        <div class="imgPrice" onclick="window.open('/login', '_self')">
        {{else}}
        <div class="imgPrice" onclick="window.open('/game?idgames=2&id={{id}}', '_self')">
        {{/unless}}
            <img src="/img/MyLovelyFurmate.png">
            <div class="PriceName">
                <p>My lovely Furmate</p>
                <p>R$ 62,10</p>
            </div>
        </div>

        {{#unless nome}}
        <div class="imgPrice" onclick="window.open('/login', '_self')">
        {{else}}
        <div class="imgPrice" onclick="window.open('/game?idgames=3&id={{id}}', '_self')">
        {{/unless}}
            <img src="/img/Mob100psychicShowdown.png">
            <div class="PriceName">
                <p>Mob psycho 100 showdown</p>
                <p>R$ 59,99</p>
            </div>
        </div>
    </div>


</main>

</body>
</html>
