<html lang="en">
  <head>
    <link
      href="https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" href="/img/favicon.png" />
    <link rel="Stylesheet" href="/css/UserPage.css" />
    <title>{{nome}}</title>
  </head>
  <body>
    <header id="topo">
      <img src="/img/{{pfp}}.png" />
      <h1>Seja bem vindo novamente, {{nome}}</h1>
    </header>

   <main>
  <div id="firstColumn">
    <a href="/?id={{id}}">Home</a>
    <a href="/">Desconectar</a>
    <a href="/user/atualizar/?id={{id}}">Atualizar Dados</a>
    <a href="/user/deletar/?id={{id}}" id="Verificacao">Deletar conta</a>
  </div>

  <div id="secondColumn">
    <h2>Lista de Amigos ({{amigos.length}})</h2>

    {{#if maisde0amg}}
      {{#each amigos}}
        <div class="Game">
          <img
            src="/img/{{this.pfp}}.png"
            alt="pfp"
          />
          <h2>
            {{#if this.nickname}}
              {{this.nickname}}
            {{else}}
              {{this.nomeOriginal}}
            {{/if}}
          </h2>
        </div>
      {{/each}}
    {{else}}
      <p>Você Não possui amigos! Hora de fazer alguns!</p>
    {{/if}}
      <button
        class="btn-gerenciar"
        onclick="window.location.href='/user/amigos?id={{id}}'"
      >
        Gerenciar Amigos
      </button>
  </div>
  
  <div id="thirdColumn">
    <h2>Lista de Jogos ({{biblioteca.length}})</h2>
    {{#if maisde0Jogos}}
      {{#each biblioteca}}
        <div class="Game">
          <!-- Usando 'nickname' se existir para a miniatura -->
          <img src="/img/{{gameImg}}.png" alt="Capa do Jogo"/>
          <h2>
            {{#if this.nickname}}
              {{this.nickname}}
            {{else}}
              {{gameName}}
            {{/if}}
          </h2>
        </div>
      {{/each}}
    {{else}}
      <p>Você Não possui nenhum Jogo! Hora de Gastar!!!</p>
    {{/if}}

    <button
      class="btn-gerenciar"
      onclick="window.location.href='/user/yourGamePage?id={{id}}'"
    >
      Gerenciar Jogos
    </button>
  </div>

</main>

<script>
  const deleteLink = document.getElementById('Verificacao'); 
  let clickedOnce = false; 
  // Substituindo o uso de alert() por uma funcionalidade que apenas muda o texto,
  // pois alert() é desaconselhado em ambientes de desenvolvimento como este.
  deleteLink.addEventListener('click', function(event) { 
  if (!clickedOnce) { 
    event.preventDefault(); 
    // Mensagem de confirmação que seria exibida em um modal ou mensagem customizada (aqui, apenas no console)
    console.log("Tem certeza? Se tiver, pressione novamente. Lembrando: Isso irá deletar TODOS os seus dados"); 
    clickedOnce = true; 
    deleteLink.textContent = 'CONFIRMAR DELETAR AGORA'; 
    deleteLink.style.color = 'red';
    deleteLink.style.fontWeight = 'bold'; 
    setTimeout(() => { 
        if (clickedOnce) { 
            clickedOnce = false; 
            deleteLink.textContent = 'Deletar conta';
            deleteLink.style.color = ''; 
            deleteLink.style.fontWeight = ''; 
        } 
    }, 5000);
  } else { 
  } });
</script>

  </body>
</html>