<html lang="en">
  <head>
    <link
      href="https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" href="/img/favicon.png" />
    <link rel="Stylesheet" href="/css/UserPage.css" />
    <title>{{nome}}</title>
  </head>
  <body>
    <header id="topo">
      <img src="/img/{{pfp}}.png" />
      <h1>Seja bem vindo novamente, {{nome}}</h1>
    </header>

    <a href="/?id={{id}}">Home</a>
    <a href="/">Desconectar</a>
    <a href="/user/atualizar/?id={{id}}">Atualizar Dados</a>
  </body>
</html>
